@import "public";
body{
    background-color: #f5f5f5;
}
.header{
    height: 88px;
    padding: 22px 0;
    box-sizing: border-box;
    img{
        @include size(288px,44px);
    }
}
.registor-box{
    height: 648px;
    background: white;
    .title{
        height: 83px;
        line-height: 83px;
        border-bottom: 1px solid #efefef;
        text-align: center;
        @include font(20px,"Microsoft Yahei",#333333,500);
    }
    .registor-write{
        padding-top: 100px;
        width: 460px;
        margin: 0 auto;
    }
    .registor-write>div{
        span{
            display: block;
            height: 42px;
            line-height: 42px;
            float: left;
            @include font(14px,"Microsoft Yahei",#666666,500);
            margin-right: 38px;
        }
        input{
            height: 40px;
            border: 1px solid #e6e6e6;
            float: left;
            width: 322px;
            border-radius: 6px;
        }
        p{
            height: 32px;
            line-height: 32px;
            @include font(12px,"Microsoft Yahei",#e50834,500);
            float: left;
            width: 100%;
        }
    }
    .registor-write>div:nth-of-type(4){
        position: relative;
/* 验证码 */
        b{
            border: 1px solid #666666;
            display: block;
            position: absolute;
            height: 42px;
            line-height: 42px;
            text-align: center;
            width: 50px;
            border-radius: 4px;
            right: 25px;
            bottom: 32px;
            background: url('../../dist/img/registor/code.jpg');
            @include font(16px,"Microsoft Yahei",white,500);
        }
        a{
            position: absolute;
            right: -50px;
            bottom: 21px;
            display: block;
            @include size(60px,42px);
            @include font(14px,"Microsoft Yahei",#1d66b2,500);
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .registor-write>p{
        @include font(14px,"Microsoft Yahei",#999999,500);
        margin-left: 104px;
        input{
            height: 12px;
            float: left;
            margin-right: 3px;
        }
        a{
            @include font(14px,"Microsoft Yahei",#e50834,500);
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .registor-write>#go-registor{
        display: block;
        background: #e5e5e5;
        text-align: center;
        @include size(322px,42px);
        line-height: 42px;
        margin-left: 108px;
        margin-top: 30px;
        @include font(16px,"Microsoft Yahei",#a0a0a0,500);
    }
}
/* 底部 */
.foot{    
    // margin-top: 94px;
    .service-link{
        padding-top: 94px;
        padding-bottom: 49px;
        p{
            text-align: center;
            line-height: 20px;
            height: 20px;
            @include font(12px,"Microsoft Yahei",#666666,500);
        }
        .registor-box{
            margin: 0 auto;
        }
    }
}